$colors: (
  bg: #0c0c0c,
  main-text: #fff,
  gray: #282828,
  works-title: #858585,
  purple: #0f33ff,
  blue: #1769ff,
  pink: #ea4c89,
  home-pink-1: #e49bb7,
  home-pink-2: #eb7aa6,
  red: #dc3545,
);
